{% extends "templates/layouts/default.html" %}

{% block intro %}
	<div class="container">
		<h1>Contact Us</h1>
	</div>
{% endblock %}

{% block content %}
  <div class="w-section section about" id="my-story">
    <div class="w-container content_about">
      <div class="w-row">
        <div class="w-col w-col-6 w-col-medium-6 w-clearfix align-right"><img class="janeimage" src="images/znuehsey.bmp">
        </div>
        <div class="w-col w-col-6 w-col-medium-6 about_content">
          <p>For over 20 years I have found passion for my artwork in nature. The paintings, whether they are the flowers, abstractions or landscapes are predominantly about stopping and just being in the moment. I have a love for oil paint and the way it moves and glows, it is a constant fascination to me. It is this quality that pushes me to further explore colour, form and movement in all my art.&nbsp;</p>
          <p>I want to capture a timeless quality in my work, something that becomes a meaningful part of your life. You will observe and engage differently every time you view it. Inhaling the beauty of something that has been created.
            <br>
            <br>Jane</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block copyright %} {% endblock %}